runs/     #TensorBoard训练日志不上传

results/
checkpoints/

dataset/  #数据集不上传
# ==================== Python 缓存 ====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ==================== IDE 配置文件 ====================
# PyCharm
.idea/
*.iml


# ==================== 系统垃圾文件 ====================
# Windows
Thumbs.db

# ==================== 日志、环境文件 ====================
*.log
*.txt
venv/
env/
*.env